[submodule "stm32-cmake"]
	path = stm32-cmake
	url = git@github.com:ObKo/stm32-cmake.git
[submodule "STM32CubeL4"]
	path = STM32CubeL4
	url = git@github.com:STMicroelectronics/STM32CubeL4.git
[submodule "PyCortexMDebug"]
	path = PyCortexMDebug
	url = git@github.com:bnahill/PyCortexMDebug.git
[submodule "submodules/erpc"]
	path = submodules/erpc
	url = https://github.com/EmbeddedRPC/erpc.git
[submodule "submodules/fatfs"]
	path = submodules/fatfs/fatfs
	url = git@github.com:abbrev/fatfs.git
[submodule "examples/applications/pid_control/lib/libprintf/printf"]
	path = examples/applications/pid_control/lib/libprintf/printf
	url = git@github.com:mpaland/printf.git
[submodule "examples/applications/pid_control/lib/lwrb"]
	path = examples/applications/pid_control/lib/lwrb
	url = git@github.com:MaJerle/lwrb.git
[submodule "examples/applications/pid_control/lib/qp/qpc"]
	path = examples/applications/pid_control/lib/qp/qpc
	url = git@github.com:QuantumLeaps/qpc.git
